<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meme Error</title>
    <style>
            body {
                display: flex;
                flex-direction: column;
                height: 100vh;
                justify-content: center;
                align-items: center;
                width: 100%;
                background: #444d50;
                color:rgb(255, 240, 240);
            }

            img {
                border: 1px solid rgba(0,0,0,.125);
                border-radius: .25rem;
                }
        </style>
</head>
<body>
    <div class="card" style="width: 500px; max-width: 100%;">
        <h1>Invalid image file path. Please try again.</h1>
        <a class="btn btn-outline-primary" href="{{url_for('meme_form')}}">Creator</a>
    </div>
</body>
</html>